*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(28, 11, 52);

}
.app{
    background: #fff;
    width: 90%;
    max-width:600px ;
    margin:150px auto 0 ;
    border-radius: 10px;
    padding: 50px;


}
.app h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.quiz h2{
    font-size: 1.3rem;
    font-family: sans-serif;
    padding-bottom: 10px;
}
#options{
    display: flex;
    flex-direction: column;
    gap: 12px;          /* space between options */
    margin-top: 15px;
    
}
.btn{
    display: flex;
    border-radius: 10px;
    background-color: rgba(173, 136, 241, 0.5);
    height: 30px;
    width: 400px;
    font-family: arial;
    font-weight:600;
    padding: 5px ;
    border-color: transparent;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s;
    
}
.btn:hover:not([disabled]){
    background-color:  rgba(169, 131, 239, 0.9);
    border-color: rgba(192, 146, 241, 0.3);
    
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    border-radius: 4px;
    background-color: rgb(0, 30, 77,0.8);
    color: white;
    width:100px;
    font-family: arial;
    padding: 10px ;
    border-color: transparent;
    cursor: pointer;
    margin-left:10px;
    border: 0;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}
#next-btn:hover{
    background-color: #011535;
}

.correct{
    background-color: rgb(0, 128, 0,0.7);

}
.incorrect{
    background-color: rgb(223, 30, 30,0.7);
}
